
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the header and footer */
header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Center the content vertically and horizontally */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Style for video container */
.video-container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
}

.website-inner-container {
    margin: 5rem;
}

/* Style for individual video iframes */
.video {
    flex: 0 0 48%; /* Adjust width as needed */
    margin-right: 2%;
}

/* Style for centered button */
.center-button {
    margin-top: 20px;
    text-align: center;
}

/* Style for the button */
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect for the button */
button:hover {
    background-color: #0056b3;
}

#player-original {
    width: 100wv;
}