/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

[data-svelte-transition] {
  transition: opacity 0.3s ease-in-out;
}

[data-svelte-transition="out"] {
  opacity: 0;
}