/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

[data-svelte-transition] {
  transition: opacity 0.3s ease-in-out;
}

[data-svelte-transition="out"] {
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto !important;
  }

  *,
  *::before,
  *::after {
    animation-delay: -0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    transition-delay: 0ms !important;
    scroll-behavior: auto !important;
  }

  [data-svelte-transition] {
    transition: none !important;
  }
}

.motion-reduce *,
.motion-reduce *::before,
.motion-reduce *::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  transition-delay: 0ms !important;
}

.motion-reduce [data-svelte-transition] {
  transition: none !important;
}